<section id="services" class="bg-light">
	<div class="container">
		<div class="row">
			<div class="col-lg-8 mx-auto">
				<h2>Services we offer</h2>
				<div class="row">

					<div class="col-xs-4 col-md-6">
						<div class="service-single text-center wow fadeInDown" data-wow-delay="0.2s">
							<div class="box-top">
								<i class="fa fa-windows"></i>
								<h2>Firewall</h2>
							</div>
							<div class="box-down">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="smooth"><a href="#contact" class="btn btn-holly">Order Now</a></div>
							</div>
						</div>
					</div>

					<div class="col-xs-4 col-md-6">
						<div class="service-single text-center wow fadeInDown" data-wow-delay="0.4s">
							<div class="box-top">
								<i class="fa fa-apple"></i>
								<h2>Antivirus</h2>
							</div>
							<div class="box-down">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="smooth"><a href="#contact" class="btn btn-holly">Order Now</a></div>
							</div>
						</div>
					</div>

					<div class="col-xs-4 col-md-6">
						<div class="service-single text-center wow fadeInDown" data-wow-delay="0.6s">
							<div class="box-top">
								<i class="fa fa-android"></i>
								<h2>Nothing else...</h2>
							</div>
							<div class="box-down">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="smooth"><a href="#contact" class="btn btn-holly">Order Now</a></div>
							</div>
						</div>
					</div>

					<div class="col-xs-4 col-md-6">
						<div class="service-single text-center wow fadeInDown" data-wow-delay="0.8s">
							<div class="box-top">
								<i class="fa fa-linux"></i>
								<h2>Linux</h2>
							</div>
							<div class="box-down">
								<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
								<div class="smooth"><a href="#contact" class="btn btn-holly">Order Now</a></div>
							</div>
						</div>
					</div>

				</div>

			</div>
		</div>
	</div>
</section>
