{
    "presets": ["es2015", "stage-0", "stage-3"],
    "plugins": [
        "transform-runtime",

        "transform-decorators-legacy",
        "transform-class-properties",

        "transform-function-bind"
    ]
}
