//////////////////////////////
/////// Main colors
/////////////////////////////

// Orange
$orange-dark: #ff8200;
$orange: #ffa500;

// Red
$red: #e63200;

// Blue
$blue-dark: #64788c;
$blue: #4990e2;
$blue-light: #64b5f6;

// Green
$green: #649b18;
$green-light: #8bc34a;

// Gray
$gray-darker: #424242;
$gray-dark: #646464;
$gray: #aaa;
$gray-light: #d2d2d2;
$gray-lighter: #f0f0f0;
$gray-lightest: #f9f9f9;

// Silver
$silver: #f9fafe;

// Gold
$gold-light: #FFC800;

//////////////////////////////
/////// Fonts
/////////////////////////////

$defaul-font-family: sans-serif;
$font-family: "Tahoma", $defaul-font-family;

// urls
$images: "../../images";
$icons: "../../images/icons";
$fonts: "../../fonts";
$fontsIcon: "../../fonts/icons";
